/* GENERAL STYLING */
html { scroll-behavior: smooth; }
*::-webkit-scrollbar { width: 3px; background-color: #eee; } 
*::-webkit-scrollbar-track { background-color: #ccc; width:1px; border:1px solid #fff; }
*::-webkit-scrollbar-button { display: none; }
*::-webkit-scrollbar-thumb { background-color: #000; }
h3 {font-size: 13px;font-weight: 400;}
h2 {font-size: 32px;font-weight: 400;color: #1886C7;text-transform: uppercase;}
p {	font-size: 14px;}
.btnScrollUp {cursor: pointer;position: fixed;right: 20px;bottom: 10px;width: 40px;height: 40px;
	background: url(../img/btnYukariGit.png) no-repeat center center;background-size: contain; }


/* NAVBAR */

.navbar {
	border-bottom: #1886C7 4px solid;
}
.navbar .navbar-brand {
	color: #1886C7;
	font-size: 22px;
}
.bg-dark {
	background-color: rgba(0,0,0,1) !important;
}
.nav-link {
	transition: color .5s ease !important;
}
.nav-link:hover {
	color: #1886C7 !important;
}


/* HEADER */

header {
	background-image: url(../img/bg-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

header .overlay {
	background-color: rgba(0,0,0,0.7);
}

header .row {
	height: 100vh;
}

header span {
	color: #1886c7;
}


/* FEATURES */

.features .fab, .features .fas {
	font-size: 40px;
}

.features-top {
	color: #1886C7;
	transition: color .5s ease !important;
}

.features-top:hover {
	color: #000;
}

/* OUR HISTORY */

#our-history h2 {
	border-left: 6px solid #1886C7;
	padding-left: 30px;
}

#our-history p {
	text-align: justify;
	line-height: 25px;
}

/* TEAM */

#team .card {
	border: none;
	cursor: pointer;
}

#team .col-md-3:hover {
	opacity: 0.8;
	transition: all 0.5s ease;
}

#team .fab {
	font-size: 22px;
}

/* WHAT WE DO */
#what-we-do {
	background: linear-gradient(
	rgba(0,0,0,0.7),
	rgba(0,0,0.7)
	),
	url(../img/bg-code.jpg) fixed center center no-repeat;
	background-size: cover;
}

/* CASE STUDY */
#case-study {
	background-color: #f4f5f9;
	line-height: 30px;
}

#case-study {
	background-color: #fff;
	margin: 40px 50px 0 0;
	color: #1886C7;
}

#case-study .btn {
	margin-top: 15px;
}

/* PORTFOLİO SECTİON */
#portfolio {
	background-color: #f4f4f4;
}

#portfolio h3 {
	font-style: 16px;
	font-weight: 300;
}

#portfolio .fa {
	font-style: 24px;
	margin-bottom: 20px;
}

#portfolio p {
	font-size: 12px;
	font-weight: 300;
}

.image-container {
	position: relative;
	cursor: pointer;
}

.image-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #1886C7;
	opacity: 0;
	transition: all 1s ease;
}

.image-container:hover .image-overlay {
	opacity: .7;
}

.image-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* CONTACT */
#contact {
	background-color: #f4f4f4;
}
#contact h4 {
	font-size: 20px;
	font-weight: 400;
	color: #1886C7;
}

#contact .input-group-prepend span {
	width: 50px;
	background-color: #1886C7;
}


/* RESPONSİVE */
@media screen and (max-width: 992px) {
	.display-3 {
		font-size: 35px !important;
	}

	.case-study .case-area {
		margin-right: 0px;
	}

	.case-study .case-image {
		display: none;
	}

	#contact {
		text-align: center;
	}
}